@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
    --body-bg: #b3e3ff;
    --box-bg: #fff;
    --input-bg: #f5f8ff;
    --txt-color: #235da8;
    --txt-second-color: #ccc;
    --border-color: #00b5fd;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span.navbar-text {
    display: flex;
    align-items: center;
}


.navbar-text button {
    margin-top: 20px;
    font-weight: 700;
    color: rgb(153, 226, 255);
    border: 1px solid rgb(23, 189, 255);
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--txt-color);

    display: flex;
    justify-content: center;
    padding-top: 100px;

    height: 100vh;
}

.box {
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.header {
    margin-bottom: 30px;
    text-align: center;
}
